[Unit]
Description=Huawei-soundfix

[Service]
Type=idle
ExecStart=/usr/bin/bash /usr/local/bin/huawei-sound

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
